// COLOR
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #c2bfbf;

$color-white: #fff;
$color-black: #000;

$color-folder-green: green;
$color-folder-yellow: #dbdb00;
$color-folder-red: #f54e4e;

// FONT
$default-font-size: 1.6rem;

$font-text-small: 1.3rem;
$font-text-small-2: 1.4rem;

$font-title: 2rem;
$font-title-small: 1.8rem;

$font-title-card: 1.3rem;
$font-subtitle-card: 1.1rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
