.card {
  height: auto;
  width: 100%;
  padding: 1.5rem;
  border: 1px solid rgba($color-black, .1);
  border-radius: 6px;
  box-shadow: .5rem 1rem 1.2rem -.6rem rgba($color-black, .15);
  transition: all .2s;

  &:not(:first-child) {
    margin: 2rem 0;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: .5rem 1rem 1.2rem -.2rem rgba($color-black, .15);
  }
}

.row {
  height: 5rem;
  display: flex;
  justify-content: space-between;
}


.geral {

  &__column1 {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-day {
      height: 100%;
      margin-right: 2rem;

      & > p {
        color: $color-black;
        font-weight: 700;
      }
    }

    &-folder {
      font-size: 6rem;
      margin-right: 0.9rem;
    }

    &-title {
      margin: 0;
      font-size: $font-title-card;
      font-weight: 900;
      color: $color-grey-dark-3;
    }

    &-title > a {
      text-decoration: none;
      color: inherit;
    }

    &-title:hover {
      cursor: pointer;
      color: $color-grey-dark-2;
    }

    &-subtitle,
    &-clock {
      color: $color-grey-dark-2;
      font-size: $font-subtitle-card;
      font-weight: 700;
    }
  }

  &__column2 {

    &-button {
      border: none;
      background-color: $color-white;

      &--icon:hover {
        cursor: pointer;
      }
    }
  }
}

.geral__column1-folder.green,
.geral__column2-button--icon.green {
  color: $color-folder-green;
}
.geral__column1-folder.yellow,
.geral__column2-button--icon.yellow {
  color: $color-folder-yellow;
}
.geral__column1-folder.red,
.geral__column2-button--icon.red {
  color: $color-folder-red;
}

.progress {
  height: 3px;
  margin: 2rem 0 1rem 0;
  border-radius: 20px;
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    height: 3px;
    width: calc(100vw - 7rem);
    display: inline-block;
    background-color: $color-grey-dark-4;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: -10;
  }

  &__subtitle {
    color: $color-grey-dark-2;
    font-size: $font-subtitle-card;
    font-weight: 700;
  }
}

.progress.green {
  background-color: $color-folder-green;
}
.progress.yellow {
  background-color: $color-folder-yellow;
}
.progress.red {
  background-color: $color-folder-red;
}

@media (min-height: 80rem) {
  .progress::after {
    width: calc(100vw - 71rem);
  }
}
