.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-image: linear-gradient(rgba($color-black, .75), rgba($color-black, .9));
  transition: all 1s;

  &__content {
    @include absCenter;
    height: auto;
    width: 80%;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    background-color: $color-white;
    border-radius: 3px;
    display: block;
    overflow: hidden;
  }
}

.visibility {
  transform: translate(100rem, -50%) scale(.2);
  opacity: 0;
  visibility: hidden;
}

@media (min-height: 80rem) {
  .modal {
    position: absolute;
  }
}
