.menu {
  font-size: $default-font-size;

  &__items {
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 32%;
    padding: 0.5rem 0;
    margin: 0;
    text-align: center;
    border: 1px solid rgba($color-black, .1);
    border-radius: 9px;
    box-shadow: .5rem 1rem 1.2rem -.6rem rgba($color-black, .15);
    transition: all .2s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: .5rem 1rem 1.2rem -.6rem rgba($color-black, .35);
    }

    &:active {
      transform: translateY(0);
      box-shadow: .5rem 1rem 1.2rem -.6rem rgba($color-black, .35);
    }
  }

  &__btn {
    text-decoration: none;
    color: $color-grey-dark;

    &-active {
      color: $color-black;
      font-weight: 700;
    }


  }
}
