.section-info-user {
  margin-top: 2rem;
}

.section-menu {
  height: 6rem;
  margin-top: 5rem;
  padding: 1rem 0;
}

.section-card {
  height: 43rem;
  margin-top: 2rem;
  overflow: auto;
}

@media (min-height: 80rem) {
  .section-card {
    height: 47rem;
  }
}
