.footer {
  height: 6.5rem;
  width: 100%;
  background-color: orange;
  font-size: $default-font-size;
  position: fixed;
  bottom: 0;
}

@media (min-height: 80rem) {
  .footer {
    position: absolute;
  }
}
